<div class="contaoner-fluid">
  <h1>Listing Jobs</h1>
    <% @jobs.each do |job| %>
      <tr>
        <h4><%= job.title %></h4>
        <td><h6 class=""><%= truncate(job.description, :length => 30) %><%= job.description %></td>
        <td> <%= link_to 'show' , job %> </td>
      </tr>
    <% end %>
</div>